<!DOCTYPE html>
<html lang="it">
<head>{% include header.html %}</head>

<body>
<div id="main-container">

<header>

    <a href="/">
    <img id="logo" src="{{site.baseurl}}{{site.logo}}" alt="{{site.description}}">

    <section>
        <h1>{{site.name}}</h1>
        <h2>{{site.subname}}</h2>
    </section>
    </a>

    <nav>
        {% for link in site.menu %} 
            <a class="item {{link.class}} link-scale-effect" href="{{link.href}}">{{link.title}}</a> 
        {% endfor %}
    </nav>

    {% if page.image %}
        {% if page.preview %}
            <img id="splash" alt="{{page.title}}" src="{{site.baseurl}}{{site.previews}}/{{page.image}}">
        {% else %}
            <img id="splash" alt="{{page.title}}" src="{{site.baseurl}}{{site.images}}/{{page.image}}">
        {% endif %}
    {% else %}
        <div class="clearfix"></div>
    {% endif %}

</header>

<article>


    <!-- <section class="alert"><p>{{page.alert}}</p></section> -->

    {% unless page.type == "index" %}
    <section class="post-title">
        <h1 class="">{{page.title}}</h1>
        <p class="script-text">
        <span class="author"><a class="link-scale-effect" href="{{site.about}}">{% include authors.html %}</a></span>
        <span class="date">{% include dates_{{site.language}}.html %}</span>
        </p>
    </section>
    {% endunless %}

    
    {% if page.description %}
        <p id="description" class="bold-text slightly-bigger-text">{{page.description}}</p>
        <div class="post">{{content}}</div>
    {% else %}
        <div class="post first-paragraph">{{content}}</div>
    {% endif %}

</article>

{% include footer.html %}

</body>
</html>
