<html lang="it">
<head>{% include header.html %}</head>

<body>
<div id="main-container">

<header>

    <h2>{{site.name}}</h2>
    <h3 class="thin-text">{{site.subname}}</h3>

    <nav>
        {% for link in site.menu %} 
            <a href="{{page.href}}">{{link.title}}</a> 
        {% endfor %}
    </nav>

    <img id="splash" alt="{{page.title}}" src="{{site.baseurl}}{{site.images}}/{{page.image}}">

</header>


<div class="post-header">
    <h1 class="">{{page.title}}</h1>
    <p class="small-text author">{% include authors.html %}</p>
    <!-- <p class="date">{{page.date}}</p> -->
    <p id="description" class="bold-text slightly-bigger-text">{{page.description}}</p>
</div>

<div class="post">

    {{content}}

</div>

{% include footer.html %}

</body>
</html>
