<!DOCTYPE html>
<html lang="it">
<head>{% include header.html %}</head>

<body>
<div id="main-container">

<header>

    <img id="logo" src="{{site.baseurl}}{{site.logo}}" alt="{{site.description}}">

    <section>
        <h1>{{site.name}}</h1>
        <h2>{{site.subname}}</h2>
    </section>

    <nav>
        {% for link in site.menu %} 
            <a class="item {{link.title}}" href="{{page.href}}">{{link.title}}</a> 
        {% endfor %}
    </nav>

    <img id="splash" alt="{{page.title}}" src="{{site.baseurl}}{{site.images}}/{{page.image}}">

</header>

<article>

    <section>
        <h1 class="">{{page.title}}</h1>
        <p class="small-text author">{% include authors.html %}</p>
        <p class="small-text date">{% include dates_ita.html %}</p>
    </section>

    {% if page.description %}
        <p id="description" class="bold-text slightly-bigger-text">{{page.description}}</p>
        <div class="post">{{content}}</div>
    {% else %}
        <div class="post first-paragraph">{{content}}</div>
    {% endif %}

</article>

{% include footer.html %}

</body>
</html>
